<launch>
  <node pkg="bada_g2_mobilerobot" type="bada_tf_node"   name="bada_tf_node"          output="screen">
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="madgwick_filter_node" output="screen">
    <remap from="imu/data_raw" to="/imu_bada_base"/>
    <remap from="imu/mag" to="/mag_bada_base"/>
    <param name="use_mag" value="false"/>
        <param name="fixed_frame" value="imu_link"/>

  </node>
</launch>