
.title-container {
  align-content: top, center;
  height: 130px;
  width : 100%;
  margin-top: 20px;
}

.title-container .logo {
  height: 83px;
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #f3c452;
  /*color : #4eaea1;*/
  text-shadow: 0px 3px 0 #2e2d2c, -3px 0 0 #2e2d2c, 3px 0 0 #2e2d2c, -3px -3px 0  #2e2d2c, 2px -3px 0 #2e2d2c;
  font-family: 'Anton', sans-serif; 
  left: 530px;
  
}
.title-container .sub_logo {
  width:320px;
  height : 27px;
  font-family: 'Anton', sans-serif;
  font-size: 19px;
  color: #2e2d2c;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fefaef;
  position: relative;
  left:530px;
  /*text-shadow: 0px 2px 0 #040404, -2px 0 0 #040404, 2px 0 0 #040404, -2px -1px 0 #040404, 1px -2px 0 #040404;*/
}
.title-container .copyright {
  margin-top: 0px;
  text-align: center;
  font-family:'Nanum Myeongjo', serif;
  font-size : 13px;
}


.cards{
      background: transparent;
      margin-top: 30px;
}

  .cards .row {
      width: 100%;
      margin-top: 20px;
  }
  .cards .row .alarm-col {
    left : 40px;
    position: absolute;
    font-family: 'Nanum Gothic', sans-serif;
    color : #2b2a27;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #000000;
    height: 520px;
    width: 300px;
  }

  .cards .row .alarm-col .alarm-contents-block .sign_language {
    align-content: center;
    top: 700px;
  }
  .cards .row .alarm-col .card{
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  .cards .row .middle-section {
    float : left;
    position: absolute;
    left : 360px;
    width : 572px;
  }
  .cards .row .middle-section .clock-container {
    position: relative;
    float : left;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    border-style: solid #000000;
    
    height: 100px;
    width: 100%;
  }
  
  .cards .row .middle-section .history-title{
    font-weight: bolder;
    width: 230px;
    text-align: center;
    height: 33px;
    position: absolute;
    top: 105px;
    left: 170px;
    background-color:#fefaef;
    z-index: 10;
}
  .cards .row .middle-section .history-col .card {
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
  }
  
  .cards .row .middle-section .history-col {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    color : #2b2a27;
    box-shadow: none;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #000000;
    overflow: auto;
    float: left;
    text-align: center;
  
    /*padding-right: 20px; */
    height: 400px;
    width: 100%;

    margin-top: 20px;
  }
  .cards .row .map-col {
    position: absolute;
    right: 20px;
    float: right;
    background: #feeba7;
    border-radius: 20px;
    border: 1px solid #000000;
    
    margin-right: 20px;
    height: 520px;
    width: 400px;
  }

  .cards .row .map-col .card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: transparent;
    border : none;
    transition: none;
    box-shadow: none;
    -webkit-box-shadow : none;
  }

  .cards .row .map-col .card .map-contents-block {
    margin-top: 40px;
  }

  .alarm-contents-block {
    text-align: center;
    align-content: center;
    padding-top: 20px;
  }
  .now {font-size: 24px;}
  .signal {font: 45px; color: #b00020;}
  .hear {font-size: 24px;}

  .history-title { font-size: 24px;}

  .clock-container {
    font-size : 40px;
    font-family:'Nanum Gothic', sans-serif;
    font-style: 'black';
  }