<launch>
    <arg name="localization"      default="false"/>
    <arg if="$(arg localization)" name="args"  default=""/>
    <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/>
    <arg name="rtabmapviz"    default="false"/>
    <arg name="localization"      default="false"/>
    <arg if="$(arg localization)" name="args"  default=""/>
    <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/>
    <arg name="simulation"  default="false"/>


    <include file="$(find bada_g2_2dnav)/launch/move_base.launch"/>

 <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="">
        <remap from="odom" to="/bada/filtered_odom"/>
		<remap from="scan" to="/scan_filtered"/>
          <!-- simulation -->
        <remap if="$(arg simulation)"     from="rgb/image"    to="/d435_camera/color/image_raw"/>
        <remap if="$(arg simulation)"     from="depth/image"     to="/d435_camera/depth/image_raw"/>
        <remap if="$(arg simulation)"     from="rgb/camera_info" to="/d435_camera/color/camera_info"/>
          <!-- real world -->
        <remap unless="$(arg simulation)"     from="rgb/image"    to="/d435_camera/color/image_raw"/>
        <remap unless="$(arg simulation)"     from="depth/image"     to="/d435_camera/aligned_depth_to_color/image_raw"/>
        <remap unless="$(arg simulation)"     from="rgb/camera_info" to="/d435_camera/color/camera_info"/>
    
        <param name="database_path" type="string" value="$(find bada_g2_2dnav)/maps/rtabmap_copyv3.db"/>
        <param name="frame_id" type="string" value="base_footprint_link"/>
        <param name="odom_frame_id" type="string" value="odom"/>
        <param name="visual_odometry" type="bool" value="false"/>
		<param name="odom_topic" type="string" value="odom"/>
		<param name="rgb_topic" type="string" value="d435_camera/color/image_raw"/>
		<param name="camera_info_topic" type="string" value="d435_camera/color/camera_info"/>
        <param name="queue_size" type="int" value="5000"/>
        <param name="rviz" type="bool" value="true"/>
        <param name="rtabmapviz" type="bool" value="true"/>
	  	<param name="approx_sync" type="string" value="false"/>
	  	<param name="use_action_for_goal" type="bool" value="true"/>
        <remap from="move_base"            to="/move_base"/>


		<param name="Rtabmap/DetectionRate"    type="double" value="2"/>
		<param name="subscribe_scan" type="bool" value="true"/>
		<param name="subscribe_depth" type="bool" value="true"/>

		<param name="wait_for_transform_duration" type="double" value="0.5"/>
		<!-- output -->
		<remap from="grid_map" to="/map"/>


		<param name="RGBD/ProximityBySpace"        type="string" value="true"/>   <!-- Local loop closure detection (using estimated position) with locations in WM -->
		<param name="RGBD/OptimizeFromGraphEnd"    type="string" value="false"/>  <!-- Set to false to generate map correction between /map and /odom -->
		<param name="Kp/MaxDepth"                  type="string" value="4.0"/>
		<param name="Reg/Strategy"                 type="string" value="0"/>      <!-- Loop closure transformation: 0=Visual, 1=ICP, 2=Visual+ICP -->
		<param name="Icp/CorrespondenceRatio"      type="string" value="0.3"/>
		<param name="Vis/MinInliers"               type="string" value="25"/>      <!-- 3D visual words minimum inliers to accept loop closure -->
		<param name="Vis/InlierDistance"           type="string" value="0.5"/>    <!-- 3D visual words correspondence distance -->
		<param name="RGBD/AngularUpdate"           type="string" value="0.1"/>    <!-- Update map only if the robot is moving -->
		<param name="RGBD/LinearUpdate"            type="string" value="0.1"/>    <!-- Update map only if the robot is moving -->
		<param name="RGBD/OptimizeMaxError"            type="string" value="10"/>
		<param name="RGBD/LoopClosureReextractFeatures"            type="string" value="true"/>
		<param name="RGBD/ProximityPathMaxNeighbors" type="string" value="0"/> 
		<param name="Rtabmap/TimeThr"              type="string" value="0"/>
		<param name="Mem/RehearsalSimilarity"      type="string" value="0.45"/>
		<param name="Reg/Force3DoF"                type="string" value="true"/>

		<param name="GridGlobal/MinSize"           type="string" value="20"/>
		<param name="Grid/RangeMax"           type="string" value="5"/>
		<param name="Grid/CellSize"           type="string" value="0.02"/>
		<param name="Grid/ClusterRadius"           type="string" value="0.2"/>
		<param name="Grid/3D"           type="string" value="false"/>
		<param name="Grid/MaxGroundAngle"           type="string" value="45"/>
		
		<param name="Odom/Strategy" type="string"  value="1"/>
		<param name="Vis/CorType" type="string" value="1"/>
		

		<param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
		<param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
		<param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
    </node>
  </group>
</launch>
