<launch>
    <arg name="localization"      default="false"/>
    <arg if="$(arg localization)" name="args"  default=""/>
    <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/>
    <arg name="rtabmapviz"    default="false"/>
    <arg name="simulation"  default="false"/>

  <include file="$(find bada_g2_2dnav)/launch/move_base.launch"/>

  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="">
        <param name="frame_id" type="string" value="base_footprint_link"/>
	      <param name="wait_for_transform_duration"  type="double"   value="0.2"/>
        <param name="subscribe_depth" type="bool" value="true"/>
        <param name="subscribe_scan" type="bool" value="true"/>
        <param name="database_path" type="string" value="$(find bada_g2_2dnav)/maps/rtabmap_copyv3.db"/>

        <!-- inputs -->
        <remap from="odom" to="/odom"/>
        <remap from="scan"            to="/scan_filtered"/>
          <!-- simulation -->
        <remap if="$(arg simulation)"     from="rgb/image"    to="/d435_camera/color/image_raw"/>
        <remap if="$(arg simulation)"     from="depth/image"     to="/d435_camera/depth/image_raw"/>
        <remap if="$(arg simulation)"     from="rgb/camera_info" to="/d435_camera/color/camera_info"/>
          <!-- real world -->
        <remap unless="$(arg simulation)"     from="rgb/image"    to="/d435_camera/color/image_raw"/>
        <remap unless="$(arg simulation)"     from="depth/image"     to="/d435_camera/aligned_depth_to_color/image_raw"/>
        <remap unless="$(arg simulation)"     from="rgb/camera_info" to="/d435_camera/color/camera_info"/>
    
        <!-- output -->
        <remap from="grid_map" to="/map"/>
        <param name="use_action_for_goal" type="bool" value="true"/>
        <remap from="move_base"            to="/move_base"/>

        <param name="queue_size" type="int" value="100"/>

        <!-- RTAB-Map's parameters -->
        <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
        <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
        <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
        <param name="RGBD/AngularUpdate"        type="string" value="0.05"/>
        <param name="RGBD/LinearUpdate"         type="string" value="0.05"/>
        <param name="Optimizer/Slam2D"          type="string" value="true"/>
        <param name="Reg/Force3DoF"             type="string" value="true"/>
        <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
        <param name="Vis/MinInliers"            type="string" value="5"/>
        <param name="Vis/InlierDistance"        type="string" value="0.1"/>
        <param name="Kp/MaxDepth"               type="string" value="1.75"/>
        <param name="Vis/MaxDepth"              type="string" value="1.75"/>
        <param name="Rtabmap/TimeThr"           type="string" value="700"/>
        <param name="Rtabmap/DetectionRate"     type="string" value="2" />
        <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
        <param name="Grid/NoiseFilteringRadius" type="string" value="0.05"/>
        <param name="Grid/NoiseFilteringMinNeighbors" type="string" value="5"/>
        
        <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
        <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
   

    </node>


        <!-- Visualisation RTAB-Map -->
    <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
  	  <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_scan"  type="bool" value="true"/>
      <param name="frame_id"        type="string" value="base_footprint_link"/>
  
      <remap from="rgb/image"    to="/d435_camera/color/image_raw"/>
      <remap from="depth/image"     to="/d435_camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/d435_camera/color/camera_info"/>
      <remap from="scan"            to="/scan_filtered"/>
      <remap from="odom"            to="/odom"/>
      
      <param name="rgb/image_transport"   type="string" value="compressed"/>
      <param name="depth/image_transport" type="string" value="compressedDepth"/>
    </node>
    
  </group>
</launch>