<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/bada_ekf.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="accel/filtered" to=""/>
    -->
    <remap from="odometry/filtered" to="bada/filtered_odom"/>

  </node>
</launch>
